*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 50px auto ;
    width: 600px;
    background-color: #c4dff6;
    
}
tr:hover{
    background-color: rgb(30, 136, 122);
    scale: 1.05;
    transition: 0.6s ease-in;
    
}
table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}
th{font-size: medium;
    font-family:Helvetica, sans-serif;
    padding: 20px;    
    color: #b6c199;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;    
    background-color: #66a5ad;    
    

}
 td {
    
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #003b46; */
    font-weight: bold;

}

