*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.boxes{
    outline: 1px solid red;
    margin: 50px;
    background-color:aquamarine;
    position: relative;
}
.box{
    height: 100px;
    outline: 1px solid blue;
}
.box4{
    position: absolute;
    top: 50%;
    width: 80px;
    color: beige;
    background-color: blueviolet;
    right: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
}